* {
    margin: 0;
}

#divview{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display:inline-block;
    background-color:#974ab5;
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
}

#divview:hover{
    cursor: pointer;
}